/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables */
:root {
    font-size: 16px;
    --green:hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
}

body {
    height: 100vh;
    background-color: var(--off-black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
}

.card {
    max-width: 24.1rem;
    width: 90%;
    background-color: var(--dark-grey);
    border-radius: 1rem;
    padding: 1.5625rem;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    align-items: center;
}

img {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

h2 {
    color: var(--white);
    font-weight: 700;
}

span {
    color: var(--green);
    font-weight: 700;
}

p {
    color: var(--white);
    font-size: 0.9rem;
}

a {
    text-decoration: none;
    color: var(--white);
    background-color: var(--grey);
    text-align: center;
    padding: 0.7rem;
    border-radius: 0.5rem;
    font-weight: 600;
}

a:hover {
    background-color: var(--green);
    color: var(--dark-grey);
    cursor: pointer;
    font-weight: 600;
}

.info-person {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}


.links {
    display: flex;
    flex-direction: column;
    gap: 1.35rem;
    align-self: stretch;

}