/* Font size (paragraph): 15px */
/* Weights: 400, 700 */

/* small reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global settings */

html {
    font: 15px Overpass;
}

body {
    background-color: #141519;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 90%;
    max-width: 26.3rem;
}

.card {
    background-color: #222933;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}

/********** front info **********/
/********** front info **********/
/********** front info **********/

/* .front-info {
    display: none;
} */

/* svg style */

.svg-wrapper {
    background-color: #262F38;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

/* h1 style */

h1,
h2 {
    color: #FCFFFF;
    font-size: 1.7rem;
}

/* p style */

p {
    color: #959CA6;
    line-height: 1.5;
    font-size: 0.96rem;
}

/* numbers style */

.numbers {
    display: flex;
    justify-content: space-between;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262F38;
    color: #A1AAB3;
    text-decoration: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    font-weight: 700;
}

a:hover {
    background-color: white;
    color: #1F2225;
}

/* button style */

button {
    background-color: #FC7613;
    color: #3D1100;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: white;
}

/********** back info **********/
/********** back info **********/
/********** back info **********/

.back-info {
    display: none;
}

img {
    align-self: center;
}

.results {
    color: #A6704E;
    background-color: #262F38;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 1.3rem;
    padding: 0.5rem 1rem;
    align-self: center;
}

.back-info p,h2{
    text-align: center;
}

.back-info h2,.results {
    margin-top: 0.7rem;
}